.thumbnail img{
max-height: 150px;
}

.row {
     margin-right: 0px; 
     margin-left: 0px; 
}
.humbnail .description{
color: #606060;
}
.price {
	font-weight: bold;
	font-size: 16px;

}
.dropdown-menu{
	min-width: 172px;
}